.skills{
    max-width: 980px;
    margin: 0 auto;
}


.skills-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.skills-skills{
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.skills-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


@media (min-width:950px){
    .skills-title{
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    
    .skills-skills{
        font-weight: 600;
        font-size: 20px;
        margin: 20px;
    }
   
}